.logout-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout-box .material-symbols-outlined{
    vertical-align: middle;
    cursor: pointer;
}
.logout-btn{
    background: none;
    color: red;
}