.study-plan-box{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
   

}
#pdf{
    min-height: auto;
    width: 794px;
}
.days-box {
  break-inside: avoid;
  page-break-inside: avoid;
}

.week-heading {
  break-before: page;
}

.week-heading:first-child {
  break-before: auto;
}
.study-plan-view{
    border: 1px solid black;
    max-height: 90%;
    height: 90%;
    width: 700px;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
     background-color: white;
}
.study-plan-pdf {
  position: fixed;
  left: 0px;
  top: 0;
  width: 794px;       /* A4 width */
  overflow: visible;
  height: auto;
  background: white;
  visibility: hidden;
}
.heading-txt{
    font-size: 25px;
    font-weight: 600;
}
.heading-subtxt{
    color:grey;
}
.week-heading{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}
.days-section{

}
.days-box{
    min-height: 250px;
    border: 1px solid black;
    padding: 20px;
    background-color: #fafafa ;
    border-radius: 20px;
    margin-bottom: 20px;
}
.days-section-heading{
display: flex;
justify-content: space-between;
}
.day-title{
    display: flex;
    flex-direction: column;
}
.grey{
    color:grey;
}
.time-title{
   height: 30px;
   border: 1px solid green; 
   display: flex;
   align-items: center;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 10px;
   background-color:#E6F7F5 ;
   color:#0AA5A5;

}
.subject-section{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.subject{
    font-size: 18px;
    font-weight: 600;
}
.subject-info{
    color: grey;
    font-size: 16px;
    font-weight: 400;
}
.subject-time{
    display: flex;
    align-items: center !important;
}